<template>
  ,
  <li v-for="item in web">{{item}}</li>
</template>

<script>


export default {
    props:{
      web:Array
    }
}
</script>

<style>
li{
  list-style: none;
  display:  inline;
  margin-left: 10px;

}
</style>