<template>
  <form class="bg-light " style="border-radius: 10px;">
    <div class="mb-3 ">
      <label for="Name" class="form-label">Name</label>
      <input type="email" class="form-control" id="Name" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="Hobby" class="form-label">Hobby</label>
      <input type="password" class="form-control" id="Hobby">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>