<template>

  <div class="container">

    <div class="row">
      <div class="col-sm">
        <nav-bar btn-text="NavBar"  class="container-fluid" />
      </div>
    </div>

    <div class="row mt-3 ">
      <div class="col-sm bg-light">
        <boby passed="the contents Submitted from form can be seen here" class=""/>
      </div>
      <div class="col-sm ">
        <Sidebar class="p-3"/>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-sm ">
        <Footer :web="web"/>
      </div>
    </div>


  </div>
</template>

<script>

import Boby from "@/components/boby";
import NavBar from "@/components/navBar";
import Sidebar from "@/components/sidebar";
import Footer from "@/components/footer";

export default {
  name: 'App',




  components: {
    Footer,
    Sidebar,
    NavBar,
    Boby,

  },
  data:function (){
    return{
      web:['Privacy Policy',' Terms of Use',' Sales and Refunds',' Legal']
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
